.about-container {
  display: flex;
  flex-direction: column;
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  text-align: justify;
}

.about-img-container {
  display: flex;
  flex-wrap: wrap;
}

.about-img-container img {
  max-width: 50%;
  object-fit: cover;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 1%;
  padding: 0.5%;
}

#filler-text {
  display: None;
  text-align: left;
  font-weight: bold;
  color: rgb(255, 0, 51);
}

.page-divider {
  height: 0.0625rem;
  background-color: rgb(236, 236, 236);
  margin-top: 5rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {
  .about-img-container {
    padding: 2rem;
  }
}

@media only screen and (min-device-width: 1366px) {
  #about {
    padding-bottom: 0 !important;
  }
  .about-container {
    flex-direction: row;
    justify-content: space-around;
  }

  #about h2 {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.13rem solid rgb(255, 255, 255);
  }

  .about-info {
    flex-basis: 30%;
    margin-top: 5%;
    align-self: center;
    margin-bottom: 5rem;
  }
  .about-info p {
    text-align: left;
  }

  .about-img-container {
    flex-basis: 55%;
  }

  #filler-text {
    display: block;
    font-size: 1.5rem;
  }
}
