.membership-container{
	display: flex;
	justify-content: space-between;
	padding-top: 4rem;
	align-items: center;
}


.member-pic-container{
	align-items: center;
	flex-basis: 50%;
}
img.members-pic{
	height: auto;
	max-width: 100%;
	object-fit: fill ;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, black, crimson) border-box;
    border: 0.25rem solid transparent;
	
}

.membership-info-container{
	flex-basis: 45%;
	padding:3rem;
	background-color:rgba(230, 230, 230, 0.5);
	border-radius: 3%;
	
}

.membership-info-container h2{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: auto;
}

.membership-info-container ul{
	font-size: 1.2rem;
	padding: 0.5rem;
}

.membership-info-container li{
	padding-bottom: 0.2rem;
}

  .bag-list-logo {
	margin: 0;
	padding: 1.5rem 0 2rem 3.5rem;
	list-style: none;
	background-image: url("../data/list-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.7rem;
}


@media (max-width: 768px) {
	#membership{
		padding:0% !important;
	}

	.section-header{
		padding-top: 2rem;
		padding-bottom: 0rem;
	}

	.membership-container {
	  flex-direction: column;
	  align-items: center;
	  padding-top: 0rem;
	}

	.membership-info-container{
		border-radius: 0%;
		background-color: white;
	}
	
	.member-pic-container {
	  flex-basis: 100%;
	}
  }