#schedule h1{
    padding-top: 0rem;
}

#schedule-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1%;
}

#schedule-img-container{
    flex-basis: 100%;
}

#schedule-img{
    height: auto;
	max-width: 100%;
	object-fit: fill ;
	border-radius: 1%;
	/* background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, black, crimson) border-box;
    border: 0.25rem solid transparent;*/


    /*max-height: 40rem;
    width:auto;
	object-fit: fill ;
    border-radius: 1%;*/
    
}

#schedule-info-container{
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

ul {
    font-size: 1.3rem;
}

p{
    font-size: 1rem;
}


@media only screen and (min-width: 768px) and (max-width:1179px){
	#schedule-info-container{
	  width: 100%;
	}

    #schedule-info{
       text-align: center;
    }
    
    .semester-schedule{
        list-style: none;
        font-size: 1.5rem;
    }

}

@media only screen and (min-width:1180px){
    #schedule-container{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5%;
    }

    #schedule-img-container{
        flex-basis: 50%;
    }

    #schedule-info-container{
        flex-basis: 40%;
    }

}

@media only screen and (min-width:2000px){
    .semester-schedule{
        font-size:2rem;
        margin-bottom: 3rem;
    }

    #schedule-info h2{
        font-size: 2.3rem;
    }
}