
.coach-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.coach-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .coach-profile-picture {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, crimson, darkorange) border-box;
    border: 0.25rem solid transparent;
  }
  
  .profile-info {
    text-align: center;
  }

  #team p{
  margin-bottom: 0rem;
  }

  .exec-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .exec-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  .exec-profile-picture{
    width: 16em;
    height: 16rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, darkblue, darkorchid) border-box;
    border: 0.25rem solid transparent;

  }

  
@media only screen and (min-device-width : 768px)
 and (max-device-width: 1366px){
    .coach-profile-container{
      padding: 2rem;
      padding-bottom: 0rem;
    }

    .coach-profile-picture{
      width: 16rem;
      height: 16rem;
    }
    .exec-profile-container{
      padding: 2rem;
      margin-bottom: 0rem;
    }
    .exec-profile-picture{
      width: 15rem;
      height: 15rem;
    }
    
  }

  @media only screen and (min-device-width: 1366px){
    .coach-profile-container{
      padding: 5rem;
      padding-bottom: 0rem;
    }
    .exec-profile-container{
      padding: 5rem;
      padding-bottom: 2rem;
    }
  }