.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1023px) {
  html {
    font-size: 11px;
  }
  button {
    margin: 0;
  }
}

body {
  color: black;
  font-family: "Work Sans";
}

.section-header {
  font-family: "Work Sans";
  color: crimson;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.nav-logo {
  color: crimson !important;
}
.nav-logo img {
  vertical-align: text-bottom;
}

.page-divider {
  height: 0.0625rem;
  background-color: black;
  margin-top: 5rem;
}

.navbar.hover {
  opacity: 1 !important;
}

.fade-in-r-to-l {
  opacity: 0;
  transform: translateX(0%);
  animation: fadeInAnimationRL 5s ease-in-out forwards;
}

.fade-in-l-to-r {
  opacity: 0;
  transform: translateX(0%);
  animation: fadeInAnimationLR 5s ease-in-out forwards;
}

.fade-in {
  opacity: 0;
  transform: translateY(0%);
  animation: fadeInAnimation 5s ease-in-out forwards;
}

.fade-in-btm-up {
  opacity: 0;
  transform: translateY(0%);
  animation: fadeInAnimationBtmUp 5s ease-in-out forwards;
}

@keyframes fadeInAnimationRL {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInAnimationLR {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnimationBtmUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
