.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1023px)
  {
      html{
          font-size: 11px;
      }
      button{
          margin: 0;
      }

}

body{
  color:black;
  font-family: 'Work Sans';
  
}

.section-header{
  font-family: 'Work Sans';
  color:crimson;
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 2rem;

}

.nav-logo{
  color: crimson !important;
}
.nav-logo img{
  vertical-align: text-bottom;
}


